@import 'config';
@import 'menu';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include background;
  font: 100% $font-stack;
  background-color: $dark-color;
  color: set-text-color($dark-color);
  height: 100%;
  margin: 0;
  line-height: 1.5;
}

// headings 
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 5rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($dark-color, 2), 0.6);
    border-radius: 10px;
    font-style: italic;
  }
}

a {
  color: #FFF;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  .social-icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;

      &:hover {
        color: $primary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

// Author Page
.author-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 
  'bio-image bio skill'
  'project-1 project-2 project-3';
  grid-template-columns: repeat(3, 1fr);

  .bio-image {   
    margin: auto;

    .img {
      border-radius: 999px;
      border: 2px solid $secondary-color;
      
      &:hover {
        transform: rotate(-360deg);
        @include easeOut;
      }
    }

    .author-name {
      text-align: center;
      font-weight: bold;
      font-style: italic;
      color:#f1c40f;
    }
  }

  .bio {
    margin: auto;
    padding: 1em;
    background: #3c5161ad;
    border-radius: 10px;
    

    h4 {
      margin-bottom: 1em;
    }

    .bio-content {
      list-style: none;

      a {
        font-style: italic;

        &:hover {
          color: $secondary-color;
          @include easeOut;
        }
      }
    }
  }

  .skill {
    margin: auto;
    padding: 1em;
    background: #3c5161ad;
    border-radius: 10px;

    li {
      list-style: none;

      &:hover {
        text-decoration: line-through;
      }
    }
  }

  .project {
    margin: auto;
    display: flex;
    flex-direction: column;

    a {
      text-align: center;
      margin-bottom: 1em;
      font-weight: bold;

      &:hover {
        color: $secondary-color;
        font-style: italic;
        @include easeOut;
      }
    }

    .project-img {
      border-radius: 10px;

      &:hover {
        transform: scale(1.05);
        @include easeOut;
      }
    }
  }

}


@import 'mobile';